<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<title>API Статистики</title>
<body>
<h1>API Статистики:</h1>
<div id="orders">
    <form th:action="@{/}">
        <table>
            <tr>
                <td>Дата:</td>
                <td> от
                    <label>
                        <input max="2025-12-31T23:59"
                               min="2020-01-01T00:00"
                               name="начальная дата"
                               th:name="start"
                               type="datetime-local"
                               value="2024-01-01T00:00">
                    </label> до
                    <label>
                        <input max="2025-12-31T23:59"
                               min="2020-01-01T00:00"
                               name="конечная дата"
                               th:name="end"
                               type="datetime-local"
                               value="2024-12-31T23:59">
                    </label>
                </td>
            </tr>
            <tr>
                <td><b>Заказы:</b></td>
                <td> заказы, за указанный промежуток:</td>
                <td>
                    <input th:formaction="@{/wildberries/statistics/orders}" type="submit" value="Отобразить"/>
                    <input th:formaction="@{/wildberries/statistics/orders/download}" type="submit"
                           value="Скачать"/>
                </td>
            </tr>
            <tr>
                <td><b>Продажи:</b></td>
                <td> продажи, за указанный промежуток:</td>
                <td>
                    <input th:formaction="@{/wildberries/statistics/sales}" type="submit" value="Отобразить"/>
                    <input th:formaction="@{/wildberries/statistics/sales/download}" type="submit" value="Скачать"/>
                </td>
            </tr>
            <tr>
                <td><b>Поставки:</b></td>
                <td> поставки, за указанный промежуток:</td>
                <td>
                    <input th:formaction="@{/wildberries/statistics/incomes}" type="submit" value="Отобразить"/>
                    <input th:formaction="@{/wildberries/statistics/incomes/download}" type="submit" value="Скачать"/>
                </td>
            </tr>
            <tr>
                <td><b>Склад:</b></td>
                <td> остатки товаров на складах WB:</td>
                <td>
                    <input th:formaction="@{/wildberries/statistics/stocks}" type="submit" value="Отобразить"/>
                    <input th:formaction="@{/wildberries/statistics/stocks/download}" type="submit" value="Скачать"/>
                </td>
            </tr>
            <tr>
                <td><b>Отчет:</b></td>
                <td>Отчет о продажах по реализации:</td>
                <td>
                    <input th:formaction="@{/wildberries/statistics/report}" type="submit" value="Отобразить"/>
                    <input th:formaction="@{/wildberries/statistics/report/download}" type="submit" value="Скачать"/>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td><b>История вызовов api:</b></td>
                <td> лог обращений к api wildberries:</td>
                <td>
                    <input th:formaction="@{/scheduling/results}" type="submit" value="Отобразить"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<!--<table>-->
<!--    <p th:text="MENU"/>-->
<!--    &lt;!&ndash;    <p>Date Time:<label><input name="login" type="datetime-local" th:field="*{start}"></label></p>&ndash;&gt;-->
<!--    &lt;!&ndash;    &ndash;&gt;-->
<!--    &lt;!&ndash;    <label>Date Time: </label><input type="datetime-local" th:field="*{dateTime}"/>&ndash;&gt;-->

<!--&lt;!&ndash;    <table>&ndash;&gt;-->
<!--&lt;!&ndash;        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/app/list}">Проверка базы</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/wildberries/statistics/incomes}">Поставки.</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/wildberries/statistics/stocks}">Склад.</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/wildberries/statistics/orders}">Заказы.</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/wildberries/statistics/sales}">Продажи.</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--</table>-->
</body>
</html>