<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table border="collapse">
    <p th:text="MENU"/>
    <table border="collapse">
        <ul>
            <tr>
                <td><a th:href="@{/app/list}">Проверка базы</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/wildberries/statistics/incomes}">Поставки.</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/wildberries/statistics/stocks}">Склад.</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/wildberries/statistics/orders}">Заказы.</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/wildberries/statistics/sales}">Продажи.</a></td>
            </tr>
        </ul>
    </table>
</table>
</body>
</html>