<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API Статистики v1.0: История вызовов</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>

<body>
<div th:insert="navbar :: navbar"></div>

<div class="float-left mt-5">
    <div>
        Остатки товаров на складах WB.

        <table class="table table-striped">
            <tr>
                <td><b>Дата и время обновления:</b></td>
                <td><b>Склад отгрузки:</b></td>
                <td><b>Артикул продавца:</b></td>
                <td><b>Артикул WB:</b></td>
                <td><b>Баркод:</b></td>
                <td><b>Количество, доступное для продажи:</b></td>
                <td><b>В пути к клиенту:</b></td>
                <td><b>В пути от клиента:</b></td>
                <td><b>Полное (непроданное) количество:</b></td>
                <td><b>Категория:</b></td>
                <td><b>Предмет:</b></td>
                <td><b>Бренд:</b></td>
                <td><b>Размер товара:</b></td>
                <td><b>Цена:</b></td>
                <td><b>Скидка:</b></td>
                <td><b>Договор поставки:</b></td>
                <td><b>Договор реализации:</b></td>
                <td><b>Код контракта:</b></td>

            </tr>
            <tr th:each="stock : ${stocks}">
                <td th:text="${#temporals.format(stock.lastChangeDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                <td th:text="${stock.warehouseName}"></td>
                <td th:text="${stock.product.supId}"></td>
                <td th:text="${stock.product.wbId}"></td>
                <td th:text="${stock.product.id}"></td>
                <td th:text="${stock.quantity}"></td>
                <td th:text="${stock.inWayToClient}"></td>
                <td th:text="${stock.inWayFromClient}"></td>
                <td th:text="${stock.quantityFull}"></td>
                <td th:text="${stock.product.category}"></td>
                <td th:text="${stock.product.subject}"></td>
                <td th:text="${stock.product.brand}"></td>
                <td th:text="${stock.product.size}"></td>
                <td th:text="${stock.price}"></td>
                <td th:text="${stock.discount}"></td>
                <td th:text="${stock.isSupply}"></td>
                <td th:text="${stock.isRealization}"></td>
                <td th:text="${stock.scCode}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>