<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table border="collapse">
    <ul>
        <tr>
            <td>
                <li><b>name:</b></li>
            </td>
            <td><b>address:</b></td>
            <td><b>phone:</b></td>
        </tr>
        <tr>
            <td>
                <li th:text="${note.name}"></li>
            </td>
            <td th:text="${note.address}"></td>
            <td th:text="${note.phone}"></td>
        </tr>
    </ul>
</table>
</body>
</html>